<!DOCTYPE html>
<html lang="en">
  <!--partial template-->
  <%- include("./partials/head.ejs") %>
  <body>
    <h1>About Us</h1>
    <h2>Your path to becoming a Node.js expert</h2>

    <!--partial template-->
    <%- include("./partials/nav.ejs") %>
    <div class="container about">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...</p>
    </div>

    <!--partial template-->
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
